@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
  :root {
    --background: 36 18% 94%;
    --foreground: 0 0% 11%;
    --card: 0 0% 100%;
    --card-foreground: 0 0% 11%;
    --popover: 0 0% 100%;
    --popover-foreground: 0 0% 11%;
    --primary: 150 26% 26%;
    --primary-foreground: 0 0% 100%;
    --secondary: 100 18% 73%;
    --secondary-foreground: 0 0% 11%;
    --muted: 36 12% 89%;
    --muted-foreground: 0 0% 40%;
    --accent: 135 24% 38%;
    --accent-foreground: 0 0% 100%;
    --destructive: 0 84% 60%;
    --destructive-foreground: 0 0% 100%;
    --border: 36 10% 83%;
    --input: 36 10% 83%;
    --ring: 150 26% 26%;
    --radius: 0.5rem;
    --sidebar-background: 150 26% 26%;
    --sidebar-foreground: 0 0% 100%;
    --sidebar-primary: 0 0% 100%;
    --sidebar-primary-foreground: 150 26% 26%;
    --sidebar-accent: 150 26% 22%;
    --sidebar-accent-foreground: 0 0% 100%;
    --sidebar-border: 150 26% 22%;
    --sidebar-ring: 100 18% 73%;
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground font-sans antialiased;
  }
}
